<!-- extend from base layout -->
{% extends "base.html" %}

{% set active_page = "allStories" %}

{% block content %}
  <br>
  <center>
    <h4>{{ message }}</h4>
  </center>
  <br>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 text-left">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <center>
	    <h4>Create Your New Story!</h4>
	  </center>
	</div>
	<div class="panel-body">
	  <form role="form" id="create" action="/createstory" method="POST">
	    Title:<input class="" type="text" name="title" placeholder="Title">
	    <br>
	    Your Story:
	    <br>
	    <textarea name="story" form="create" rows="4" cols="100">Story Here</textarea>
	    <br>
	    <input class="" type="submit" name="Register" value="Submit!">
	  </form>
	  
	</div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}
