<!-- extend from base layout -->
{% extends "base.html" %}

{% set active_page = "allStories" %}

{% block content %}
  <br>
  <center>
    <h4>{{ message }}</h4>
  </center>
  <br>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 text-left">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <center>
	    <h4>Full Story of {{post.title}}</h4>
	  </center>
	</div>
	<div class="panel-body">
	  <b>Created:</b> {{post.timestamp_created}}
	  <br>
	  <br>
	  <b>Contributors:</b>
	  {% for user in post.get_usernames() %}
	  {{user}},
	  {% endfor %}
	  <br>
	  <br>
	  <b>Latest Contribution made at: </b>{{post.timestamp_last_update}}
	  <br>
	  <br>
	  <b>Full Text:</b>
	  <br>
	  <br>
	  <p>
	  "{{post.full_text()}}"
	  </p>
	  <br>
	</div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}
