<!-- extend from base layout -->
{% extends "base.html" %}

{% set active_page = "allStories" %}

{% block content %}
  <br>
  <center>
    <h4>{{ message }}</h4>
  </center>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel-body">
	<a href="{{url_for('renderCreate')}}">Create Your Story Here!</a>
      </div>
    </div>
    <div class="col-sm-9">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3 text-left">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <center>
	    <h4>All Stories:</h4>
	  </center>
	</div>
	<div class="panel-body">
	  <br>
	  <table>
	    {% for story in feed %}
	    <tr>
	      <td>
		<a href="{{url_for('latestUpdate', postID = story.story_id)}}">{{story.title}} - {{story.timestamp_created}}</a>
	      </td>
	    </tr>
	    <br>
	    {% endfor %}
	  </table>
	</div>
      </div>
    </div>
    <div class="col-sm-7 text-left">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <center>
	    <h4>Recent Stories</h4>
	  </center>
	</div>
	<div class="panel-body">
	  <table>
	    {% for story in feed %}
	    <tr>
	      <td>
		{{story.title}} - Created on {{story.timestamp_created}} - Contributors: {{story.contributed_to_by_user_ids}}
		<br>
		Latest Contribution made at {{story.get_timestamp}}
		<br>
		{{story.latest_update}}
		<br>
		<a href="{{url_for('.latestUpdate', postID = story.story_id)}}">View Latest Contribution</a>
	      </td>
	    </tr>
	    {% endfor %}
	  </table>
	</div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
{% endblock %}

