<!-- extend from base layout -->
{% extends "base.html" %}

{% set active_page = "myStories" %}

{% block content %}
  <br>
  <center>
    <h4>{{ message }}</h4>
  </center>
  <br>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 text-left">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <center>
	    <h4>Latest Update to {{post.title}}</h4>
	  </center>
	</div>
	<div class="panel-body">
	  Created:{{post.timestamp_created}}
	  <br>
	  Contributors:
	  {% for user in post.get_usernames() %}
	  {{user}},
	  {% endfor %}
	  <br>
	  Latest Contribution made at {{post.timestamp_last_update}}
	  <br>
	  Latest Update:
	  <br>
	  {{post.last_update}}
	  <br>
	  <a href="{{url_for('editPage', postID=post.story_id)}}">Want to Contribute to This Story?</a>
	  <br>
	</div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}
