<!-- extend from base layout -->
{% extends "base.html" %}

{% set active_page = "myStories" %}

{% block content %}
  <br>
  <center>
    <h4>{{ message }}</h4>
  </center>
  <br>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 text-left">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <center>
	    <h4>Latest Update for <i>{{post.title}}<i></h4>
	  </center>
	</div>
	<div class="panel-body">
	  <b>Created: </b>{{post.timestamp_created}}
	  <br>
	  <br>
	  <b>Contributors:</b>
	  {% for user in post.get_usernames() %}
	  {{user}},
	  {% endfor %}
	  <br>
	  <br>
	  <b>Latest Contribution made at: </b><i>{{post.timestamp_last_update}}</i>
	  <br>
	  <br>
	  <b>Latest Update:</b>
	  <br>
	  <br>
	  "...{{post.last_update}}"
	  <br>
	  <br>
	  <b><i><a href="{{url_for('editPage', postID=post.story_id)}}">Want to Contribute to This Story?</a></i></b>
	  <br>
	</div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}
