<!-- extend from base layout -->
{% extends "base.html" %}

{% set active_page = "login" %}

{% block logoutbutton %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <br>
      <br>
      <div class="panel panel-default">
	<div class="panel-heading">
	  <center>
	    <h4>Login</h4>
	  </center>
	</div>
	<div class="panel-body">
	  <form role="form" action="/login" method="POST">
	    <b>Username: </b><input class="form-control" type="text" name="username" placeholder="Username">
	    <br>
	    <b>Password: </b><input class="form-control" type="password" name="password" placeholder="Password">
	    <br>
	    <input class="form-control" type="submit" name="Register" value="Login">
	  </form>
	</div>
      </div>
    </div>
    <div class="col-sm-4">
      <br>
      <br>
      <div class="panel panel-default">
	<div class="panel-heading">
	  <center>
	    <h4>Register</h4>
	  </center>
	</div>
	<div class="panel-body">
	  <br>
	  <b><i><u>Note:</u> Please do not use the following characters when registering: ' " [ ] { } ( ) % ?</i></b>
	  <br>
	  <br>
	  <form role="form" action="/register" method="POST">
	    <b>First Name: </b><input class="form-control" type="text" name="first" placeholder="First Name">
	    <br>
	    <b>Last Name: </b><input class="form-control" type="text" name="last" placeholder="Last Name">
	    <br>
	    <b>Age: </b><input class="form-control" type="text" name="age" placeholder="Age">
	    <br>
	    <b>Email: </b><input class="form-control" type="text" name="email" placeholder="Email">
	    <br>
	    <b>Username: </b><input class="form-control" type="text" name="username" placeholder="Username">
	    <br>
	    <b>Password </b><i>(6+ characters, 1+ lowercase letters, 1+ uppercase letters, 1+ numbers): </i><input class="form-control" type="password" name="password" placeholder="Password">
	    <br>
	    <b>Confirm Password: </b><input class="form-control" type="password" name="confpass" placeholder="Confirm Password">
	    <br>
	    <input class="form-control" type="submit" name="Register" value="Register!">
	  </form>
	</div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}

